$color-white: #fff;
$color-yellow: #ffb32c;
$color-gray-1: #e4e4e4;
$color-gray-2: #c4c4c4;
$color-gray-3: rgba(0, 0, 0, 0.50);
$color-blue-1: #0a2756;
$color-blue-2: #0080ff;
$color-blue-3: #007dfe;
$color-blue-4: rgba(0, 128, 255, 0.70);
$color-red: #fb5555;

$font-family: 'Helvetica Neue';
